experimental = ["setup-scripts"]

[profile.default]
slow-timeout = { period = "120s" }

[script.services]
command = 'bash -c "docker compose up -d --wait ; sleep 1"'

[[profile.default.scripts]]
filter = 'test(redis::) | test(pgsql::)'
setup = ['services']
